customRules:
  custom-shell.yaml: |
    - rule: Terminal shell in container
      desc: Detects shell spawned inside a container
      condition: container.id != host and proc.name in (bash, sh, zsh)
      output: "Shell spawned inside container (user=%user.name command=%proc.cmdline container=%container.name k8s_pod=%k8s.pod.name k8s_ns=%k8s.ns.name)"
      priority: NOTICE
      tags: ["container", "shell"]

falco:
  jsonOutput: true
  grpc:
    enabled: true
